@font-face{
	font-family: "comic";
	src: url("assets/COMIC.TTF");
}
*{
	color: white;
	font-family: comic;
	image-rendering: pixelated;
}
body{
	margin: 0px;
	text-align: center;
	background-color: rgb(20, 20, 20);
	background-image: url("assets/bg.png");
}
::-webkit-scrollbar{
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track, ::-webkit-scrollbar-button:single-button{
	background: #424242;
}
::-webkit-scrollbar-thumb{
	background: #5a5a5a;
	border: 2px solid #424242;
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:single-button:hover{
	background: #6b6b6b;
}
::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-button:single-button:active{
	background: #7a7a7a;
}
::-webkit-scrollbar-button:single-button{
	display: block;
	background-size: 12px;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-button:single-button:hover{
	display: block;
	background-size: 12px;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-button:horizontal:start:decrement {
	width: 12px;
	background-position: center;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(256, 256, 256)'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:horizontal:start:increment {
	display: none;
}
::-webkit-scrollbar-button:horizontal:end:decrement {
	display: none;
}
::-webkit-scrollbar-button:horizontal:end:increment {
	width: 12px;
	background-position:center right;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(256, 256, 256)'><polygon points='0,0 0,100 50,50'/></svg>");
}
button{
	padding: 0px 6px 0px 6px;
}
a:-webkit-any-link{
	color: rgb(40, 138, 255);
}
a:-webkit-any-link:hover{
	color: rgb(112, 176, 255);
}
.main{
	display: grid;
	align-content: space-between;
	margin: 0 auto;
	width: 600px;
	position: relative;
	background: rgb(45, 45, 45);
	min-height: 100%;
	border-left: 3px solid rgb(60, 60, 60);
	border-right: 3px solid rgb(60, 60, 60);
}
.maincenter{
	margin: 0 auto;
	position: relative;
	max-width: 500px;
	padding-top: 20px;
	padding-bottom: 40px
}
.footer{
	background: rgb(35, 35, 35);
	padding: 4px 0px 4px 0px;
	width: 100%;
	position: sticky;
	bottom: 0;
}
.videoplayermain{
	background: rgb(25, 25, 25);
	position: relative;
}
video{
	max-width: 100%;
	height: auto;
	position: relative;
}
.videooverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.videooverlayicon{
	width: 40px;
	height: 40px;
    position: absolute;
	background: linear-gradient(0deg, #373737, #494949);
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-content: center;
	position-area: center;
}
.videobuttons{
	width: 100%;
	height: 22px;
	position: absolute;
	display: flex;
	align-items: center;
	visibility: hidden;
	background: linear-gradient(0deg, #242424, #3b3b3b);
	transform: translateY(-100%);
}
.videoplay{
	background: rgb(35, 35, 35);
	height: 18px;
}
.videobar{
	position: relative;
	width: 100%;
	height: 10px;
	background: linear-gradient(0deg, #232323, #2f2f2f);
	margin: 0px 7px;
}
.videomainbar{
	position: absolute;
    top: 0;
	width: 0%;
	height: 100%;
	background: linear-gradient(0deg, #a3a3a3, #ffffff);
}
.videomainbarback{
	position: absolute;
    top: 0;
	width: 0%;
	height: 100%;
	background: linear-gradient(0deg, #a3a3a357, #ffffff57);
}
.videotimer{
	position: absolute;
	background: rgb(20, 20, 20);
	bottom: 0;
	transform: translateX(-50%) translateY(-100%);
	padding: 0px 10px;
	font-size: 12px;
}
.changelog{
	position: relative;
	text-align: left;
	display: grid;
	padding: 4px;
	background: rgb(36, 36, 36);
	border: 2px solid rgb(56, 56, 56);
}
.changebg{
	font-family: monospace;
	font-size: 14px;
	float: left;
	width: 95px;
	height: 100%;
}
.changelogitem{
	display: flex;
}
.changeg{
	background: #02b85170;
    border: 2px solid #86ff9b;
}
.changey{
	background: #ffc60070;
    border: 2px solid #ffe27f;
}
.changer{
	background: #ff003c70;
    border: 2px solid #f86d7c;
}
.changep{
	background: #d500fe70;
    border: 2px solid #e666ff;
}
.codespace{
	padding: 4px;
	background: rgb(36, 36, 36);
	border: 2px solid rgb(56, 56, 56);
	position: relative;
	text-align: left;
}
span{
	font-family: monospace;
	font-size: 14px;
}
pre code.hljs{
	padding: 3px 5px;
}
pre code.hljs{
	display: block;
	overflow-x: auto;
	padding: 3px 5px;
}
code.hljs{
	padding: 3px 5px;
	max-height: 200px;
}
.hljs{
	background: #252525;
	color: #f8f8f2;
	font-family: monospace;
	font-size: 14px;
}
.hljs-subst, .hljs-tag{
	color:#f8f8f2;
}
.hljs-emphasis, .hljs-strong{
	color: #a8a8a2;
}
.hljs-bullet, .hljs-link, .hljs-literal, .hljs-number, .hljs-quote, .hljs-regexp{
	color: #ae81ff;
}
.hljs-code, .hljs-section, .hljs-selector-class, .hljs-title{
	color: #a6e22e;
}
.hljs-strong{
	font-weight: 700;
}
.hljs-emphasis{
	font-style: italic;
}
.hljs-attr, .hljs-keyword, .hljs-name, .hljs-selector-tag{
	color: #f92672;
}
.hljs-attribute, .hljs-symbol{
	color: #66d9ef;
}
.hljs-class .hljs-title, .hljs-params, .hljs-title.class_{
	color: #f8f8f2;
}
.hljs-addition, .hljs-built_in, .hljs-selector-attr, .hljs-selector-id, .hljs-selector-pseudo, .hljs-string, .hljs-template-variable, .hljs-type, .hljs-variable{
	color: #e6db74;
}
.hljs-comment, .hljs-deletion, .hljs-meta{
	color: #75715e;
}



.hljs-subst, .hljs-tag{
	color:#f8f8f2;
}
.hljs-emphasis, .hljs-strong{
	color: #a8a8a2;
}
.hljs-bullet, .hljs-link, .hljs-literal, .hljs-number, .hljs-quote, .hljs-regexp{
	color: #ffc600;
}
.hljs-code, .hljs-section, .hljs-selector-class, .hljs-title{
	color: #a6e22e;
}
.hljs-strong{
	font-weight: 700;
}
.hljs-emphasis{
	font-style: italic;
}
.hljs-attr, .hljs-keyword, .hljs-name, .hljs-selector-tag{
	color: #f86d7c;
	font-weight: bold;
}
.hljs-attribute, .hljs-symbol{
	color: #66d9ef;
}
.hljs-class .hljs-title, .hljs-params, .hljs-title.class_{
	color: #f8f8f2;
}
.hljs-string{
	color: #adf195;
}
.hljs-addition, .hljs-built_in, .hljs-selector-attr, .hljs-selector-id, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable{
	color: #84d6f7;
}
.hljs-comment, .hljs-deletion, .hljs-meta{
	color: #5b5b5b;
	font-style: italic;
}